/* Estilo para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Ajusta el tamaño para que no ocupe toda la pantalla */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
}

.modal-content {
    padding: 20px;
    position: relative;
}

.modal-images {
    display: flex;
    justify-content: space-between; /* Espaciado entre imágenes */
    margin-top: 20px; /* Espacio encima de las imágenes */
}

.modal-image {
    width: 30%; /* Tamaño ajustado para que las imágenes no sean muy grandes */
    border-radius: 8px;
    object-fit: cover; /* Asegura que las imágenes se ajusten correctamente */
}


.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.reviews {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #DBDFD0; /* Añade un borde a la caja de reseñas */
    border-radius: 8px;
    background-color: #f9f9f7; /* Fondo para diferenciar */
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

button {
    background-color: #F97A03;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#commentsList {
    margin-top: 10px; /* Espacio encima de la lista */
}

#commentsList p {
    color: #2C2F24; /* Color del texto */
    margin: 5px 0; 
}
